.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.coming-soon-content {
  text-align: center;
  animation: fadeIn 3s ease-in-out infinite;
  -webkit-animation: fadeIn 3s ease-in-out infinite;
}

.coming-soon-title {
  font-size: 3rem;
  color: #333;
}

.coming-soon-description {
  font-size: 1.5rem;
  color: #666;
}

.coming-soon-animation {
  margin-top: 20px;
  /* Add any additional styling for the animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
