# docker-compose file for the Next.js application with MongoDB
services:
  next_app:
    depends_on:
      postgres:
        condition: service_healthy # Wait for db to be healthy
    env_file:
      - ./config/.env
    postgres:
    image: postgres:15
    restart: always
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./config/.env
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER}']
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:
   
